body {
    background: #f5f8fa;
}

.event {
    margin: 0 auto 10px auto;
    width: 700px;
    padding: 10px;
    background: white;
    -webkit-box-shadow: 0 0 5px 1px #5c5c5c;
    -moz-box-shadow: 0 0 5px 1px #5c5c5c;
    -moz-box-shadow: 0 0 5px 1px rgb(193, 193, 193);
    -ms-box-shadow: 0 0 5px 1px #5c5c5c;
    box-shadow: 0 0 5px 1px #5c5c5c;
    box-shadow: 0 0 5px 1px rgb(193, 193, 193);
}

#events {
}

.add {
    margin-bottom: 5px;
}
    .partial-contents-adds img {
        width: 200px;
        height: 200px;
    }

.header {
    margin: 0;
}

.loading-hidden {
    display: none;
    visibility: collapse;
}

.date {
    color: gray;
    font-size: 13px;
    text-wrap: normal;
}

.loading {
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
}

    .loading img {
    }

.icon {
}

.side {
    font-size: 12px;
}

.description {
    /*padding: 0;
    margin: 5px 0 0 0;*/
}

.details {
    margin-top: 5px;
    display: run-in;
}
