@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="banner" src="https://placehold.it/900x200?text=banner" />
</div>
<section id="events">
    @{
        Html.RenderAction("Events");
    }
</section>
