@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img width="700" height="300" src="" />
</div>

@using (Html.BeginForm("Search", "Events", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <input type="text" id="txtSearch" name="searchText" placeholder="Search" />
    <input type="submit" id="btnSearch" name="searchButton" />
}